@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}
